
{% extends "::personnelmenu.html.twig" %}

{% block title %}Golfo klubo IS{% endblock %}

{% block body %}
    <div class="container">
        <h2> Sveiki prisijungę prie tinklapio,  <b>{{ asmuo.getVardas() }}</b> ! Dabar galite naudotis sistema :) </h2>
    </div>

{% endblock %}

