{% extends '::adminmenu.html.twig' %}

{% block body %}
    <h1>Pasirinkite, kokio tipo mokėjimą norite peržiūrėti</h1>

    <a href="/admin/mokejimai/iranga">Mokėjimai už įrangą</a>
    <a href="/admin/mokejimai/naryste">Mokėjimai už narystę</a>
 {% endblock %}