{% extends 'base.html.twig' %}

{% block body %}
        <div class="container">
            <h1>Golfo klubo IS</h1>
            <p> Sistema pasiekiama tik klubo nariams. </p>
            <p><a class="btn btn-info btn-md" href="/register" role="button">Registracija</a></p><br>
            <img style="height:300px" src="https://image.ibb.co/jBcv5G/golf_course.png" /></center> <br><br>
            <b><p><a href="/login" role="button">Prisijungimas nariams -> </a></p>
            <p><a href="/login" role="button">Prisijungimas darbuotojams -> </a></p></b>
        </div>


<style>
p{
	font-size: 18px;
}
</style>
{% endblock %}