{% extends '::adminmenu.html.twig' %}

{% block body %}
  <center>  <h1>Naujo vartotojo registravimas</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Užregistruoti" />
    {{ form_end(form) }}


            <a href="{{ path('asmuo_index') }}" class="btn btn-default">Atgal į sąrašą</a>
        </center>
{% endblock %}
