{% extends "vipmenu.html.twig" %}
{% block title %}Rezultatas{% endblock %}
{% block body %}

{% block content %}
<div style="padding-left: 30px">
    <div class="box" style="padding-left:30px; width: 40%; border:1px solid #750b20; display:block; margin: auto">
    	<center><b><h2>REZULTATO REGISTRAVIMAS</h2></b></center>
    {{ form_start(history_form) }}
    {{ form_widget(history_form) }}
    <center><input type="submit" class="btn btn-info" value="Patvirtinti" />
    {{ form_end(history_form) }}
    <br><br>
            <form action="{{ path('history') }}">
                <input type="submit" class="btn btn-danger" value="Grįžti atgal" />
            </form></center>
        </div>
    </div>
{% endblock %}

{% endblock %}